/* body covers everything*/
body{
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin:auto;
    width: 50%;
    font-size: 64px;
}
.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.gallery{
    position: relative;
}

.gallery img{
    max-width: 50%;
}

.signup{
    position: fixed;
    width: 15%;
    bottom: 35vw;
    right: 0px;
    background-color: plum;
    border: 10px indigo;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-left-style: solid;
    padding-left: 5px;
    opacity: 0.8;
}

article{
    position: relative;
    max-width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span{
    font-size: 48px;
}

button{
    background-color: plum;
    border: none;
    color: indigo
}